[user]
  name = Ricardo Amores
  email = rickyah@gmail.com

[color]
  ui = true
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold
[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[merge]
  # Include summaries of merged commits in newly created merge commit messages
  log = true

[svn]
  # push empty directory removals back to svn as directory deletes
  rmdir = true

[core]
  excludesfile = ~/.global_gitignore
  editor = subl -w
  mergeoptions = --no-ff --no-commit
  autocrlf = input 
[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 

[mergetool "sourcetree"]
  cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true

[apply]
  # Detect whitespace errors when applying a patch
  whitespace = fix
  
[alias]
  # checkouts
  co = checkout
  cb = checkout -b
  ct = checkout -t
  cr = checkout --
  unstage = reset HEAD
  # submodules
  sm = "!f() { git submodule update --init --recursive $1; }; f"
  #branch management
  b = branch
  ba = branch -a
  bd = branch -d
  bD = branch -D
  bm = branch -m
  re = remote
  rea = remote -v
  #rebases & squash
  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
  rba = rebase --abort
  rbs = rebase --skip
  #squashes
  sq = "!f() { git rebase -i HEAD~$1; }; f"
  # tags
  t = tag -l
  # stashes
  st = stash
  stl = stash list
  stp = stash pop
  sts = "!f() { git stash show stash@{$1}; }; f"
  std = "!f() { git stash show stash@{$1} -U5; }; f"
  strm = "!f() { git stash drop stash@{$1} -U5; }; f"
  #commits
  c = commit
  cm = commit -m
  cma = commit -am
  # pushes & pulls
  f = fetch --prune
  ps = push
  pl = pull
  pr = pull-request
  # status & log
  s = status -sb
  ss = status
  l = "!f() { git log $1 --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit; }; f"
  lg = "!f() { git log $1 --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit;};f"
  # show tracked branches
  tracked = "!d() { git for-each-ref --format='%(refname:short)' refs/heads/ | while read b; do if r=$(git config --get branch.$b.remote); then m=$(git config --get branch.$b.merge); echo \"$b -> $r/${m##*/}\"; fi; done } ; d"
  # `git di $number` shows the diff between the state `$number` revisions ago and the current state
  di = !"d() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; d"
  #show changes
  wc = whatchanged -p --abbrev-commit --pretty=medium


[push]
  default=simple

